input[type=search]::-ms-clear {display:none; width:0; height:0;}
input[type=search]::-ms-reveal {display:none; width:0; height:0;}
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {display:none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance:none; margin:0;}
input[type=number] {-moz-appearance:textfield;}
input:-webkit-autofill {box-shadow:0 0 0 34px var(--bg) inset !important; -webkit-text-fill-color:#fff !important;}
input:-webkit-autofill::first-line, input:-webkit-autofill {font-family:inherit !important;}

:root {
    --safe-area-inset-bottom:env(safe-area-inset-bottom);
}

@keyframes spin {
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}
@keyframes fade {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes alert {
    0% {opacity:0; transform:scale(0.9);}
    100% {opacity:1; transform:scale(1);}
}
@keyframes alertBackDrop {
    0% {background:rgba(0, 0, 0, 0);}
    100% {background:rgba(0, 0, 0, .8);}
}

html, body {overscroll-behavior:none; height:100%; overflow:hidden; position:relative;}
body {margin:0; background:var(--bg); cursor:default; font-family:var(--font); -webkit-font-smoothing:antialiased;}
* {box-sizing:border-box; font-family:inherit; outline:none; font-size:inherit; margin:0;}
body, input, select, button {font-size:var(--font-size); padding:0; color:#fff;}
hr {border:none; border-top:1px solid var(--separator-color); margin:0 10px;}
html, body, #root {height:100%; width:100%;}
input {width:100%; caret-color:#ccc; caret-shape:underscore;}
button, select, input {border:none; outline:none; background:transparent;}
a {color:var(--link-color); text-decoration:none; -webkit-tap-highlight-color:transparent; cursor:default;}
img, svg {display:block;}
p {margin:0;}
.material-icons {vertical-align:middle; cursor:default;}

/* TEXT INPUT */
.text-input {display:flex; align-items:center; flex:1; background:#333; border-radius:var(--input-border-radius); padding:0 5px; overflow:hidden; background:var(--input-background);}
.text-input-icon {color:#666;}

span.text-input-icon {font-weight:bold; padding-left:5px; font-size:16px;}
.text-input-spinner {margin:0 10px;}
i.text-input-clear {font-size:18px;}
.text-input .text {vertical-align:top; text-align:left; width:100%; padding:0 10px; position:relative; align-items:center; border:none; font-size:var(--input-font-size); background:var(--input-background);}
.text-input textarea.text {min-height:65px; padding:10px; outline:none;}
.text-input .touchable {color:#fff;}

.text-input .text-input-country {display:flex; align-items:center; padding:0 10px; height:34px; margin-left:-5px; gap:5px;}
.text-input .text-input-country.touched {background:#222; opacity:1;}
.text-input .text-input-country .emoji {font-size:18px;}

.text {padding:0 10px; height:var(--input-height); background:var(--input-background); border:none; color:#fff; border-radius:var(--input-border-radius); width:100%;}
.text:-webkit-autofill {box-shadow:0 0 0 500px var(--input-background) inset !important; background:var(--input-background) !important;}

.text.select {border:1px solid #333; background:#000;}

/* TOUCHABLE */
.touchable {transition:opacity .1s; cursor:pointer; text-decoration:none; -webkit-touch-callout:none; -webkit-user-select:none; backface-visibility:hidden; font-size:inherit; -webkit-tap-highlight-color:transparent; appearance:none; border:none; background:none; margin:0;}
.touchable.touched, .touchable.disabled {opacity:.3;}
.touchable.disabled {pointer-events:none !important;}
.touchable img {display:block;}
.touchable.disable-menu {user-select:none;}

/* HIGHLIGHT */
.touchable-highlight {color:inherit; width:100%;}
.touchable-highlight.disabled {opacity:.3; pointer-events:none;}
.touchable-highlight.touched {opacity:1; background:var(--touchable-highlight);}

/* TOUCHABLE ROW */
.touchable-row {padding:10px; min-height:44px; display:flex !important; align-items:center; justify-content:space-between; text-align:left; gap:10px; white-space:normal;}
.touchable-row-content {min-width:0; width:100%;}
.touchable-row-left {flex:1; display:flex; align-items:center; justify-content:flex-start; gap:10px; min-width:0; overflow:hidden;}
.touchable-row-icon {display:flex; align-items:center; justify-content:center;}
.touchable-row-left img {height:24px; width:24px;}
.touchable-row-title {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.touchable-row-content .meta {color:var(--subtitle-color);}

/* Connection Indicator */
.connection-indicator {pointer-events:none; position:absolute; top:35px; left:0; right:0; text-align:center;}
.connection-indicator .bubble {background:#222; height:35px; padding:0 10px; border-radius:24px; display:inline-flex; align-items:center; gap:10px; text-transform:capitalize;}

/* LEFT AND RIGHT TEXT */
.tabular {display:flex; gap:10px; flex-direction:column; padding:10px 0;}
.tabular-row {padding:0 10px; display:flex; align-items:center; justify-content:space-between; gap:10px;}
.tabular-row-left {color:#656;}
.tabular-row-right {text-align:right;}

/* BUTTONS */
.btn {display:flex; position:relative; height:var(--input-height); align-items:center; justify-content:center; padding:0 15px; color:#fff; border:1px solid #fff; transition:opacity .15s; border-radius:var(--input-border-radius); white-space:nowrap; gap:10px; font-size:var(--input-font-size);}
.full-width {width:100%;}
.btn.disabled {opacity:.5; pointer-events:none;}
.btn i {color:inherit;}
.btn.active {color:#fff; background:#123; opacity:1;}

.btn.active {color:#000; background:#f00;}
.btn.disabled {opacity:.3; pointer-events:none;}
.btn-white {color:#000; background:#fff; border-color:#fff; font-weight:bold;}
.btn-black {background:#000; color:#fff; border-color:#000;}
.btn-clear {border:none;}
.btn-red {border-color:#f00; color:#f00;}
.btn-frosted {backdrop-filter:blur(2px); background:rgba(255, 255, 255, .1); border:none;}

.btn-row {margin-bottom:10px; width:100%; display:flex; color:#999; grid-gap:10px;}

/* SCROLLER */
.scroller {overflow:hidden;}
.scroller.vertical {height:100%; flex:1;}
.scroller::-webkit-scrollbar {display:none;}

/* Pull Indicator */
.list-pull {position:absolute; height:70px; top:0; left:0; right:0; pointer-events:none; z-index:1; overflow:hidden;}
.pull-indicator {background:#fff; height:40px; width:40px; border-radius:20px; margin:-40px auto 0 auto; opacity:0;}

/* Percent */
.percent-bar {background:rgba(255, 255, 255, .1); display:block; height:5px; width:100%; border-radius:var(--progress-bar-radius); position:relative; overflow:hidden;}
.percent-bar-inner, .percent-bar-segment {height:5px; background:var(--progress-bar-color); border-radius:var(--progress-bar-radius);}
.percent-bar-segment {position:absolute;}

/* PROGRESS INDICATOR */
.progress-indicator {border-radius:50%; width:20px; height:20px; min-width:20px; border:2px solid rgba(255, 255, 255, .1); border-left:2px solid #fff; animation:spin 2s infinite linear;}

/* PR0GRESS RING */
.progress-ring {position:relative;}
.progress-ring-content {position:absolute; left:0; top:0; right:0; bottom:0; display:flex; align-items:center; justify-content:center;}

/* ACTIVITY INDICATOR */
.activity-indicator {display:block; position:relative;}
.activity-indicator div {animation:spin 1.2s linear infinite; display:block; position:absolute; top:0;}
@keyframes spin {
    0% {opacity:1;}
    100% {opacity:0;}
}

/* SHADES */
.shade {position:absolute; top:0; left:0; bottom:0; right:0; background:var(--shade-color); opacity:0; will-change:opacity;}
.shade-fullscreen {background:#000;}
.shade-bottom-sheet {background:rgba(10, 0, 10, .8); pointer-events:all;}
.handle {position:absolute; top:5px; left:50%; margin-left:-20px; width:40px; height:4px; border-radius:5px; background:#999;}

/* DIFFERENT STACK TYPES */
.layer {position:absolute; top:0; left:0; right:0; bottom:0; pointer-events:none; overflow:hidden;}
.card {position:absolute; top:0; left:0; bottom:0; right:0; height:var(--viewport-height); width:var(--viewport-width); background:var(--bg); display:flex; flex-direction:column; pointer-events:auto; will-change:transform;}
.card.animate {transform:translateX(100%);}
.card-body {flex:1; padding-bottom:env(keyboard-inset-height); display:flex; flex-direction:column; min-height:0; position:relative; overflow:hidden;}
.fullscreen {position:absolute; top:0; left:0; right:0; background:#000; height:var(--viewport-height); display:flex; flex-direction:column;}
.window {position:absolute; top:100%; left:0; right:0; pointer-events:auto; max-width:100%; display:flex; flex-direction:column; margin:0 auto; overflow:hidden; touch-action:pan-y; will-change:transform;}
.window-fullscreen {height:var(--viewport-height);}
.window-modal {height:calc(var(--viewport-height) - 10px); width:var(--window-width); background:#111; border-top-left-radius:var(--window-radius); border-top-right-radius:var(--window-radius);}

.reveal {pointer-events:auto; overflow:hidden; background:#111;}

/* FILE UPLOAD */
.drop-zone {position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255, 255, 255, .2); pointer-events:none;}

/* HEADER */
.header {display:flex; align-items:center; justify-content:space-around; height:var(--header-height); background:var(--header-bg);}
.header-close {padding:0 10px; color:#fff;}
.header-middle {flex:1; min-width:0;}
.header-title {font-size:var(--header-font-size); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; text-align:center;}
.header-subtitle {margin-top:3px;}
.header-spacer {min-width:44px; display:flex; justify-content:center; align-items:center;}
.header-search {padding:0 10px 10px 10px; background:var(--header-bg);}
.pager-page .header-search {padding:10px;}
.header-button {display:flex; font-size:16px; color:#fff; min-width:var(--header-height); height:var(--header-height); position:relative; justify-content:center; align-items:center;}
.header-button.active {color:#f00;}
.header-button span {padding:0 10px;}
.header-button .badge {padding:0 2px; font-size:8px; font-weight:bold; border-radius:10px; height:12px; min-width:12px; background:#f00; position:absolute; top:10px; right:10px; border:1px solid #000; display:flex; align-items:center; justify-content:center;}
.header-cancel {color:#f00;}

/* DROPDOWNS */
.dropdown {position:relative;}
.dropdown-content {position:absolute; min-width:150px; z-index:1; background-color:#111; border-radius:4px; overflow:hidden; box-shadow:1px 0 10px rgba(0, 0, 0, .5); opacity:0; transition:all .1s; outline:1px solid #333;}
.dropdown-content.visible {opacity:1;}
.dropdown-content.hidden {opacity:0; pointer-events:none;}
.dropdown-content.top-left {top:100%; left:0;}
.dropdown-content.top-right {top:100%; right:0;}
.dropdown-content.bottom-right {bottom:100%; right:0;}
.dropdown-content .material-icons {font-size:16px;}

.dropdown-menu {border:1px solid #333; padding:10px; border-radius:4px; width:250px;}
.dropdown-item {justify-content:flex-start; min-height:unset;}
.dropdown-label {font-weight:bold; font-size:12px; margin-bottom:5px;}

/* TOAST */
.toast-container {position:fixed; bottom:20%; left:0; width:100%; text-align:center;}
.toast {padding:7px 15px; display:inline-block; background:#fff; color:#000; border-radius:var(--input-border-radius);}

/* VIEW PAGER */
.pager {height:100%; white-space:nowrap; display:flex; flex-direction:column; width:100%; position:relative;}
.pager.vertical {touch-action:pan-y;}
.pager.horizontal {touch-action:pan-x;}
.pager-scroller {flex:1; position:relative; overflow:hidden;}
.pager-canvas {position:absolute; top:0; left:0; bottom:0; width:100%;}
.pager-page {width:100%; height:100%; position:relative; white-space:normal; overflow:hidden;}
.pager.horizontal .pager-page {display:inline-block;}

/* VIEW PAGER TABS */
.pager-tabs {display:flex; position:relative;}
.pager-tabs-title {padding:8px 0; flex:1; text-align:center; color:#fff;}
.pager-tabs-indicator {position:absolute; border-top:1px solid #fff; bottom:0;}

/* VIEW PAGER DOTS */
.pager-dots {position:absolute; bottom:10px; left:0; right:0; gap:5px; display:flex; justify-content:center;}
.pager-dot {height:6px; width:6px; background:#fff; border-radius:3px;}

/* LIST */
.list {width:100%; display:flex; flex-direction:column;}
.list > .touchable-row {border-bottom:2px solid var(--separator-color); height:44px;}
.list-title {padding:10px 0; margin:0 10px; text-transform:uppercase;}
.placeholder {padding:10px; text-align:center; display:flex; align-items:center; justify-content:center; flex-direction:column; flex:1; width:100%; height:100%; gap:10px;}
.placeholder .title {font-size:16px;}
.placeholder-message {opacity:.5;}

/* ACTION SHEET */
.sheet {position:absolute; top:100%; left:0; right:0; background-color:#000; pointer-events:all; padding-bottom:var(--safe-area-inset-bottom);}
.action-sheet-title {padding:10px; color:#656;}
.sheet .touchable-row .material-icons {font-size:16px;}

/* SEGMENTED CONTROLLER */
.segmented {padding:2px; background:#222; display:inline-flex; align-items:center; border-radius:8px; white-space:nowrap; position:relative;}
.segmented .touchable {flex:1; color:#fff; padding:2px 15px; position:relative;}
.segmented .active {color:#000; opacity:1;}
.segmented .separator {width:1px; height:10px; background:#444;}
.segmented-indicator {height:calc(100% - 4px); border-radius:6px; background:#fff; position:absolute; left:0; top:2px; outline:2px solid #222;}

/* BREADCRUMBS */
.breadcrumbs {padding:0 10px; display:flex; gap:5px; align-items:center; white-space:nowrap; overflow:auto; background:#323; height:36px;}
.breadcrumbs .material-icons {font-size:16px;}
.breadcrumbs span {color:#545;}

/* GALLERY */
.gallery-item {flex:1; height:100%; display:flex; align-items:center; justify-content:center;}
.gallery-item img {max-width:100%; max-height:100%; -webkit-user-select:none;}

/* ALERT */
.alert-backdrop {pointer-events:all; background:rgba(0, 0, 0, 0); transition:background 300ms; animation:alertBackDrop 300ms;}
.alert-backdrop.visible {background:rgba(0, 0, 0, .8);}
.alert-container {display:flex; align-items:center; justify-content:center; position:absolute; top:0; left:0; bottom:0; right:0;}
.alert {width:var(--alert-width); background:#111; transition:all .2s; opacity:0; transform:scale(.9); pointer-events:none; border-radius:var(--window-radius); overflow:hidden;}
.alert.visible {opacity:1; transform:scale(1); animation:alert .2s; pointer-events:all;}

.alert-top {padding:20px; text-align:center; gap:20px; display:flex; flex-direction:column;}
.alert-title {font-size:var(--alert-title-font-size); font-weight:bold;}
.alert-message {color:#ccc;}
.alert-buttons {display:flex; flex-direction:column; border-top:1px solid #333; gap:1px; background:#333; max-height:200px;}
.alert-buttons-horizontal {flex-direction:row;}
.alert-button {height:var(--input-height); align-items:center; justify-content:center; gap:10px; flex:1; display:flex; background:#111;}
.alert-button.destructive {color:#f00;}
.alert-bottom {padding:20px;}

/* CHECKBOX */
.circle-check, .toggle-check {height:20px; width:20px; display:flex; align-items:center; justify-content:center;}

.circle-check {background:#666; color:#111; border-radius:10px;}
.circle-check.active {color:#fff; background-color:#219653;}
.circle-check .material-icons {font-size:16px;}

.toggle-check {border:2px solid #666; color:#fff; border-radius:4px;}
.toggle-check.active, .toggle-check.undetermined {background-color:#219653; border:none;}
.toggle-check .material-icons {font-size:18px;}

/* RADIO */
.radio-btn.touched {background:#000;}
.radio-btn .dot {height:20px; width:20px; margin-right:10px; border:1px solid #999; border-radius:10px; padding:2px; transition:all .1s;}
.radio-btn .dot-inside {height:14px; width:14px; border-radius:7px; transform:scale(0); transition:all .1s;}
.radio-btn.active .dot {border-color:#295;}
.radio-btn.active .dot-inside {background:#295; transform:scale(1);}
.radio-btn i {font-size:16px;}
.radio-top {display:flex; align-items:center;}
.radio-subtitle {color:#888; padding-left:30px;}

/* FILTER BUTTONS */
.filter-button {background:var(--bg); height:30px; border-radius:4px; padding:0 10px; display:flex; align-items:center; gap:10px; color:#fff; white-space:nowrap;}
.filter-button.touched {opacity:1; background:#ccc;}
.filter-button.active {background:#fff; color:#000;}
.filter-button .avatar {height:20px; width:20px;}
i.filter-button-caret {margin:0 -4px; font-size:18px;}

/* FAB */
.fab-container {position:absolute; bottom:calc(var(--safe-area-inset-bottom) + 20px); right:20px; display:flex; flex-direction:column; gap:20px; align-items:flex-end; pointer-events:none;}
.fab-container > * {pointer-events:auto;}
.fab.inactive {background:#666;}
.fab {height:40px; padding:0 15px; color:#000; background:#fff; display:flex; align-items:center; justify-content:center; border-radius:20px; transition:background-color .2s; white-space:nowrap; gap:10px;}
.fab.round {width:40px; padding:0;}
.fab.touched {opacity:1; background:#666;}

/* TAG */
.tag {border:1px solid #999; border-radius:20px; height:24px; padding:0 10px; display:inline-block; line-height:22px; align-items:center; color:#fff; vertical-align:middle; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100%;}

/* EMOJI */
.emoji {font-family:"Apple Color Emoji", sans-serif; font-size:24px; line-height:1em;}

/* PILL */
.pill {padding:0 7px; background:#333; color:rgba(255, 255, 255, .8); border-radius:10px; font-size:10px; text-transform:capitalize; line-height:1.5;}

/* CORNER DIALOG */
.corner-dialog {position:absolute; bottom:20px; right:20px; background:#111; border-radius:var(--window-radius);}
.corner-dialog-title {display:flex; justify-content:space-between; padding:10px; align-items:center;}

/* NOTIFICATION */
.poon-notifications {padding:10px; font-size:13px;}
.poon-notifications .notification {background:rgba(33, 33, 33, .8); padding:14px; border-radius:24px; backdrop-filter:blur(14px); pointer-events:auto; display:flex; gap:14px; align-items:center; justify-content:space-between; margin:0 auto 10px auto; max-width:400px;}
.notification-middle {flex:1;}
.poon-notifications .notification-icon {width:40px; height:40px; display:flex; align-items:center; justify-content:center; background:#000; border-radius:9px;}
.poon-notifications .notification-title {font-weight:bold;}
.poon-notifications .notification-body {}
.poon-notifications .notification-close {display:none;}

/* SORT FILTER BUTTON */
.sort-filter {height:40px; display:flex; align-items:center; justify-content:space-between; padding:0 10px; width:100%; color:#fff;}
.sort-filter-label {color:#999;}
.sort-filter-value {font-weight:bold; color:#fff;}

/* INPUT GROUP */
.input-group {display:flex; flex-direction:column; gap:10px;}

/* IMAGE */
.img {background:#000; position:relative;}
.img-real, .img-inside {position:absolute; top:0; left:0; height:100%; width:100%;}
.img-real {opacity:1; transition:opacity 1s; text-indent:100%; overflow:hidden;}
.img-inside {display:flex; align-items:center; justify-content:center;}
